// @import '../../styles/sassVars.scss';

// .bookCard {
//     .bookDescription {
//         max-height: 260px;
//         position: relative;
//         overflow: hidden;
//         // &:after {
//         //     content: '';
//         //     text-align: right;
//         //     position: absolute;
//         //     bottom: 0;
//         //     right: 0;
//         //     width: 70%;
//         //     height: 1.2em;
//         //     background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
//         // }
//     }
// }

.bookCard {
    // position: relative;
    display: flex;
    flex-direction: column;

    .ant-card-body {
        flex-grow: 1;
    }

    .ant-card-actions {
        // position: absolute;
        // bottom: 0;
        margin-top: auto;
        
    }
}
